:root {
  --black: rgba(43, 44, 50, 1);
  --main-body-font-family: "Montserrat", Helvetica;
  --main-body-font-weight: 400;
  --main-body-font-size: 16px;
  --main-body-letter-spacing: 0px;
  --main-body-line-height: 24px;
  --main-body-font-style: normal;
  --accent-font-family: "Montserrat", Helvetica;
  --accent-font-weight: 600;
  --accent-font-size: 64px;
  --accent-letter-spacing: 0px;
  --accent-line-height: 24px;
  --accent-font-style: normal;
  --header-font-family: "Montserrat", Helvetica;
  --header-font-weight: 600;
  --header-font-size: 24px;
  --header-letter-spacing: 0px;
  --header-line-height: 24px;
  --header-font-style: normal;
  --sus-accent-font-family: "Montserrat", Helvetica;
  --sus-accent-font-weight: 600;
  --sus-accent-font-size: 48px;
  --sus-accent-letter-spacing: 0px;
  --sus-accent-line-height: 24px;
  --sus-accent-font-style: normal;
  --main-font-family: "Montserrat", Helvetica;
  --main-font-weight: 400;
  --main-font-size: 16px;
  --main-letter-spacing: 0px;
  --main-line-height: 24px;
  --main-font-style: normal;
}
:root {
  --black: rgba(43, 44, 50, 1);
  --main-font-family: "Montserrat", Helvetica;
  --main-font-weight: 400;
  --main-font-size: 16px;
  --main-letter-spacing: 0px;
  --main-line-height: 24px;
  --main-font-style: normal;
  --sus-accent-font-family: "Montserrat", Helvetica;
  --sus-accent-font-weight: 600;
  --sus-accent-font-size: 48px;
  --sus-accent-letter-spacing: 0px;
  --sus-accent-line-height: 24px;
  --sus-accent-font-style: normal;
  --header-font-family: "Montserrat", Helvetica;
  --header-font-weight: 600;
  --header-font-size: 24px;
  --header-letter-spacing: 0px;
  --header-line-height: 24px;
  --header-font-style: normal;
  --main-body-font-family: "Montserrat", Helvetica;
  --main-body-font-weight: 400;
  --main-body-font-size: 16px;
  --main-body-letter-spacing: 0px;
  --main-body-line-height: 24px;
  --main-body-font-style: normal;
  --accent-font-family: "Montserrat", Helvetica;
  --accent-font-weight: 600;
  --accent-font-size: 64px;
  --accent-letter-spacing: 0px;
  --accent-line-height: 24px;
  --accent-font-style: normal;
}
